# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production
build/
dist/
out/

# Misc
.DS_Store
.env
.env.local
*.log
*.swp
*.swo
*~

# Foundry
cache/
broadcast/
lib/

# IDE
.vscode/
.idea/
*.sublime-*

# OS
Thumbs.db
